*{
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #343540;
}

.Navbar .navbar-brand {
  color: white;
}

.Navbar .navbar-brand:hover {
  color: white;
}

body{
  padding: 0;
}
.bodyContainer{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: transparent;
  max-height: calc(100vh - 180px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse; 
}

.bodyContainerWithPrompts {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  max-height: calc(100vh - 360px);
  display: flex;
  flex-direction: column-reverse; 
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.bottomSection {
  background-color: transparent;
  position: fixed; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 650px; 
  padding: 10px;
}

.bottomSection .info{
  color: rgba(255,255,255,0.5);
  font-size: 11px;
  padding: 10px;
}

.bottomSection .inputContainer{
  position: relative;
  width: 100%;
  /* max-width: 650px; */
  display: flex;
  flex-direction: column;
}

.inputText{
  width: 100%;
  font-size: 18px;
  border: none;
  background-color: rgba(255,255,255,0.05);
  padding: 12px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
              rgba(0, 0, 0, 0.05) 0 -12px 30px,
              rgba(0, 0, 0, 0.05) 0 4px 6px,
              rgba(0, 0, 0, 0.05) 0 12px 3px,
              rgba(0, 0, 0, 0.05) 0 -3px 5px;

}

input:focus{
  outline: none;
}

#submit{
  position: absolute;
  bottom: 10px;
  right : 10px;
  cursor: pointer;
  
  
}

.submit-icon {
  font-size: 30px;
  color: rgb(52, 53, 63, 0.5); 
}

.feed{
  width: 100%;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.feed li.message {
  display: flex;
  align-items: end;
  padding: 20px;
  border-radius: 10px;
}

.feed li.user-message {
  text-align: right;
  justify-content: flex-end;
}

.feed li.assistant-message {
  justify-content: flex-start;
  text-align: left;
}

.feed li .outPutMessages {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.code-block {
  margin: 10px 0;
  border-radius: 10px;
}

.code-title {
  padding: 5px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.feed li .outPutMessages pre {
  color: #333;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  overflow-x: auto;
}

.feed li .outPutMessages code {
  font-family: 'Fira Code', 'Consolas', monospace;
}

.feed li .role-icon {
  height: 30px; 
  width: 30px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

li.user-message .role-icon {
  background-color: rgb(255, 255, 255); 
  background-image: url('./components/dobby.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 0;
}

li.assistant-message .role-icon {
  background-color: rgb(0, 140, 186); 
  background-image: url('./components/educk-icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}

.feed li.user-message .outPutMessages {
  order: -1;
}

.bodyContainer::-webkit-scrollbar-track {
  background-color: transparent; 
}

.bodyContainer::-webkit-scrollbar-thumb {
  background-color: #71717a;
}

.bodyContainer::-webkit-scrollbar {
  width: 8px;
}

.bodyContainer::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.bodyContainer::-webkit-scrollbar-thumb {
  background-color: rgb(113, 113, 122, 0.5); 
  border-radius: 10px; 
}

.bodyContainer::-webkit-scrollbar-thumb:hover{
  background-color: #71717a;
}

/* .prompt-buttons-container {
  margin-bottom: 10px; 
}

.prompt-button {
  width: 100%;
  margin-bottom: 10px; 
} */

.loading {
  text-align: center;
  padding: 10px;
}

.prompt-buttons {
  background-color: transparent !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 5px; 
  margin-bottom: 10px;
}

.bottomSection .btn {
  border: none;
  color: white;
  padding: 5px 5px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.prompt-buttons .btn {
  background-color: transparent !important; 
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  outline: 0.5px solid !important;
  outline-color: #565968 !important;
}

.prompt-buttons .btn:hover {
  background-color: #40414e !important; 
}

.buttonPrompt{
  background-color: transparent;
}

.promptName{
  background-color: transparent !important;
  padding: 5px 0 1px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #babac5;
}

.promptDescription{
  background-color: transparent !important;
  padding: 0 0 5px 10px;
  font-size: 14px;
  font-weight: lighter;
  color: #7a7b86;
}

